.container > .grid {
    border: solid black;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 200px;
    grid-template-areas: 
    "header header header"
    "body body body"
    "footer footer footer";
}

.header {
    grid-area: header;
    font-family: 'Chicle', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/coffee.gif);
}
.body {
    grid-area: body;
    font-family: 'Kodchasan', sans-serif;
}
.footer {
    grid-area: footer;
    font-family: 'Chicle', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: deeppink;
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: deeppink;
    font-size: 25px;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

/* PARALLAX STUFF */
.para {
    background: url(images/the_masquerade.jpg) 100% fixed;
}
.para2 {
    background: url(images/freshiam.jpg) 100% fixed;
}
.para3 {
    background: url(images/topshop.jpg) 100% fixed;
}
.para4 {
    background: url(images/pwg.jpg) 100% fixed;
}
.parainner {
    padding: 300px;
}
.space {
    padding: 500px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.logos {
    width: 35%;
    height: auto;
    margin-left: 50px;
}